<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<footer class="mastfoot md-auto">
    <div class="inner">
        <p> 자취생을 부탁해 email: blackmilk274@gmail.com github: https://www.github.com/sunmon [이미지]<a href="https://www.github.com/sunmon">github</a></p>
    </div>
</footer>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<!--<script src="/js/app/index.js"></script>-->
<!--<script src="/js/app/recipeBoard.js"></script>-->
<!--<script src="/js/app/recipeSearch.js"></script>-->

</body>
</html>