<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" id="bootstrap-css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"/>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>-->
<!--    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/common.css">

    <!--    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">-->
    <!--    <link rel="stylesheet" type="text/css" href="/css/search.css">-->
<!--    <link rel="stylesheet" type="text/css" href="/css/index.css">-->
<!--    cover page용 nav-->
<!--    <link rel="stylesheet" href="style.css">-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!--    font-family-->
<!--    font-family: 'Black Han Sans', sans-serif;-->
<!--    font-family: 'Roboto', sans-serif;-->
<!--    font-family: 'Noto Sans KR', sans-serif;-->
</head>
<body>