.sauces {
    text-align: center;
    margin : 10px 10px;
    /*background-color: antiquewhite;*/
}

.sauces .btn {
    background-color: transparent;
    /*color: #4bb5ff;*/
    color: #17a2b8;
}

.sauces .btn:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.navbar {
    flex-wrap: nowrap;
}

form > .row{
    flex-wrap: nowrap;
}

#wrapper {
    display: flex;
    min-height: 95vh;
    flex-direction: column;
}
#result-container {
    flex : 1;
}

/*.active-pink-2 input[type=text]:focus:not([readonly]) {*/
/*    border-bottom: 1px solid #f48fb1;*/
/*    box-shadow: 0 1px 0 0 #f48fb1;*/
/*}*/
/*.active-pink input[type=text] {*/
/*    border-bottom: 1px solid #f48fb1;*/
/*    box-shadow: 0 1px 0 0 #f48fb1;*/
/*}*/
/*.active-purple-2 input[type=text]:focus:not([readonly]) {*/
/*    border-bottom: 1px solid #ce93d8;*/
/*    box-shadow: 0 1px 0 0 #ce93d8;*/
/*}*/
/*.active-purple input[type=text] {*/
/*    border-bottom: 1px solid #ce93d8;*/
/*    box-shadow: 0 1px 0 0 #ce93d8;*/
/*}*/
.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}
/*.active-purple .fa, .active-purple-2 .fa {*/
/*    color: #ce93d8;*/
/*}*/
/*.active-pink .fa, .active-pink-2 .fa {*/
/*    color: #f48fb1;*/
/*}*/

/*.sauces.btn:hover,*/
/*.sauces.btn:focus,*/
/*.sauces.btn:not(:disabled):not(.disabled):active,*/
/*.sauces.btn:not(:disabled):not(.disabled):active:focus,*/
/*.sauces.btn:active:hover {*/
    /*background-color: transparent;*/
    /*background-color: #2CA8FF;*/
    /*color: #4bb5ff;*/
    /*color: #4bb5ff;*/
    /*border-color: #2CA8FF;*/
    /*border-color: #4bb5ff;*/
    /*box-shadow: none;*/
/*}*/
