<!--<body>-->
{{>layout/header}}  <!-- css import -->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Responsive Sticky Navbar</title>-->
<!--    <link rel="stylesheet" href="style.css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
<!--</head>-->
<!--<body>-->
<link rel="stylesheet" href="/css/index-style.css">

<h1>냉장고를 부탁해</h1>
<a href = "/recipeSearch" id = "btn-search" class = "btn btn-success active" role="button">레시피 검색</a>
<a href = "/recipeBoard" id = "btn-board" class = "btn btn-success active" role="button">게시판</a>

<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>
<h1>냉장고를 부탁해</h1>



<!--FIXME: 메인페이지 js 안써짐-->
<script src="/js/app/index.js"></script>

{{>layout/footer}}  <!-- js import -->




<!-- 자동으로 생성된 html -->
<!--<div class="container body-content">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center" style="padding-top:10px;">-->
<!--            <label>TITLE</label>-->
<!--        </div>-->
<!--        <div class="row justify-content-center" style="padding-top:10px;">-->
<!--            <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />-->
<!--        </div>-->
<!--        <div class="row justify-content-center" style="padding-top:10px;">-->
<!--            <p class="text-black-50">-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit-->
<!--                <br />-->
<!--                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--                <br />-->
<!--                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="row justify-content-start" style="padding-top:10px;">-->

<!--            <div class="col" style="padding-top:10px;">-->
<!--                <label>RECIPE</label>-->
<!--            </div>-->
<!--            <div class="col" style="padding-top:10px;">-->
<!--                <label>BOARD</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row justify-content-start" style="padding-top:10px;">-->
<!--            <div class="col" style="padding-top:10px;">-->
<!--                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />-->
<!--            </div>-->
<!--            <div class="col" style="padding-top:10px;">-->
<!--                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row justify-content-end" style="padding-top:10px;">-->
<!--            <a href="">CONTACT</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
